.exitDialog{
    -fx-background-color: #627D98;
}
.exitDialog > *.button-bar > *.container{
    -fx-background-color: #627D98;
}
.exitDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.exitDialog:header *.header-panel{
    -fx-background-color: #627D98;
}
.exitDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #627D98
}
.exitDialog .button{
	-fx-background-color: #486581;
	-fx-text-fill: #FFFFFF;
	-fx-border-color: #243B53;
}
.exitDialog .button:hover {
  -fx-background-color: #627D98;
  -fx-color: white;
  -fx-border-color:#F0F4F8;
}
