#settingsPane{
    -fx-background-color: #171d26;  
    -fx-text-fill: #FFFFFF;
}

.label{ 
	-fx-text-fill: #FFFFFF;
}

.text-field{
	-fx-background-color: #486581;
	-fx-text-fill: #FFFFFF;
}

.button{
	-fx-background-color: #486581;
	-fx-text-fill: #FFFFFF;
}
.button:hover {
  -fx-background-color: #627D98;
  -fx-color: white;
  -fx-border-color:#F0F4F8;
}

.spinner{
	-fx-background-color: #486581;
	-fx-text-fill: #FFFFFF;
}


* {
    -fx-my-menu-color: #486581;                  
    -fx-my-menu-color-highlighted: #627D98; 
    -fx-my-menu-font-color: #FFFFFF;        
    -fx-my-menu-font-color-highlighted: #FFFFFF;
}

.menu-button{
	-fx-background-color: #486581;
	-fx-text-fill: #FFFFFF;
}
  
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

   
.menu-item {
    -fx-background-color: -fx-my-menu-color; 
}
   
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    
 
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}

.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}


.context-menu {
    -fx-background-color: -fx-my-menu-color; 
}
