#winpane{
    -fx-background-image: url("wspic.jpg");
    -fx-background-color: black;
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}
